.journey {
    background-image: $BGcolorThree;
    min-height: 100vh;

    .container {
      padding-bottom: 100px;
      @include breakpoint-down(medium){
        padding-top: 100px;
      }
    }   

      .timeline ul li {
        background-color: $lightBlue;
      }

      .TODO {
        opacity: 0.5;
      }

      // I am X years old.
      .age {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.5px;
        align-self: center;
        margin-left: 50px;
        margin-bottom: 50px;
      }

}