.skills {
    background-color: $journeyColor;
    min-height: 60vh;
    list-style: none; 

    .container {
        padding-top: 100px;
    }

    .stat{ 
        display: flex;
        justify-content: space-between;

        h4,h5 {
            margin: 0.5rem 3.4rem;
            @include breakpoint-down(medium){
                margin: 0.5rem 2.2rem;
            }
        }
        h5{
            margin-bottom: 0;
            transform: translateY(0.6rem);
        }
    }

    .skills-bar {
        background: #fafafa;
        display: block;
        height: 0.6rem;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 10px #000000b0;
        margin-top: -1rem;

        margin: 0 3rem;
        @include breakpoint-down(medium){
            margin: 0 2rem;
        }
    }

    .skills-bar span {
        height: 0.6rem;
        float: left;
        background: $contactColorOne;
    }

    .bar_1{
        width: $bar1;
        animation: bar1 2s forwards;
    }
    .bar_2{
        width: $bar2;
        animation: bar2 2s forwards;
    }
    .bar_3{
        width: $bar3;
        animation: bar3 2s forwards;
    }
    .bar_4{
        width: $bar4;
        animation: bar4 2s forwards;
    }
    .bar_5{
        width: $bar5;
        animation: bar5 2s forwards;
    }
    .bar_6{
        width: $bar6;
        animation: bar6 2s forwards;
    }
    .bar_7{
        width: $bar7;
        animation: bar7 2s forwards;
    }
    .bar_8{
        width: $bar8;
        animation: bar8 2s forwards;
    }
    .bar_9{
        width: $bar9;
        animation: bar9 2s forwards;
    }


}