// Colors
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 19%, 73%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lightBlack: hsl(240, 57%, 7%);

$darkBlue: hsl(252, 100%, 14%);
$lightBlue: hsl(242, 40%, 27%);

// Just Colors
$footerColor: #070838;
$aboutColor: #fafafa;
$XPColor: transparent;
$journeyColor: #07033b;
$contactColor: #111142;

$gitHubColor: $darkBlue;
$clr-neon: hsl(266, 100%, 42%);
$linksColor: $white;
$hilightColor: hsl(91, 100%, 50%);

// Contact Form Colors
$contactColorOne: #401492;
$contactCircle: #09093f;

// BG Colors
$BGcolorOne: #e4e4e4;
$BGcolorTwo: linear-gradient( #000000, 85%, $journeyColor);
$BGcolorThree: linear-gradient( $journeyColor, 85%, $lightBlack);
$BGcolorFour: linear-gradient($lightBlack, 85%, $contactColor);
$BGcolorFive: linear-gradient($contactColor, 85%, $black);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Bars
$bar1: 95%; // C++
$bar2: 75%; // C#
$bar3: 90%; // C
$bar4: 85%; // Python
$bar5: 70%; // Java
$bar6: 40%; // HTML/CSS
$bar7: 50%; // Adobe apps
$bar8: 10%;
$bar9: 90%;