// Colors
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 19%, 73%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$lightBlack: hsl(239, 90%, 21%);

$darkBlue: hsl(252, 67%, 19%);
$lightBlue: hsl(242, 40%, 27%);

// BG Colors
$BGcolorOne: #e4e4e4;

// Just Colors
$footerColor: #070838;
$aboutColor: #fafafa;
$XPColor: black;
$journeyColor: $footerColor;
$contactColor: #fafafa;

$gitHubColor: linear-gradient(to right, $darkBlue, $lightBlue);
$linksColor: $white;
$hilightColor: hsl(91, 100%, 50%);

// Contact Form Colors
$contactColorOne: #09093f;
$contactCircle: #401492;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;